<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="20.12.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="EPPlus" version="5.4.2" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="itext7" version="7.1.14" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Spire.XLS" version="11.1.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
</packages>